@import "tailwindcss";

@theme {
    --breakpoint-3xl: 1800px;
    --breakpoint-xxs: 450px;
    --color-gray-700: oklch(37.3% 0.034 259.733);
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --font-weight-extrabold: 800;
    --tracking-wide: 0.025em;
    --radius-lg: 0.5rem;
}

@layer components {
    .hamburger.close {
        div:first-child {
            @apply rotate-45 translate-y-2;
        }

        div:nth-child(2) {
            @apply opacity-0;
        }

        div:last-child {
            @apply -rotate-45 -translate-y-2;
        }
    }
    .nav {
        @apply scale-y-0 origin-bottom;
    }

    .nav.open {
        @apply scale-y-100 origin-top;
    }
}